downloader = "yt-dlp"

[bot]
api_id=6
api_hash="eb06d4abfb49dc3eeb1aeb98ae0f581e"
token="xxxxxxxxx"
session_name="castbot"
admins=[337885031,32432424,44353421]

[http]
listen_host = "192.168.1.2"
listen_port = 8350

[[devices]]
type="upnp"

[[devices]]
type="chromecast"

[[devices]]
type="web"
password="owo"

[[devices]]
type="vlc"
host = "127.0.0.1"
port = 4212
password = "123"

[[devices]]
type="xbmc"
host = "192.168.42.140"
port = 8080
username = ""
password = ""
